In [1]:
import pandas as pd
import numpy as np

In [36]:
df = pd.DataFrame(["car", "bus", "air plane",np.nan,"King"])

In [42]:
df.head()

           0
0        car
1        bus
2  air plane
3        NaN
4       King

In [41]:
df[0].str.get_dummies(' ')

   King  air  bus  car  plane
0     0    0    0    1      0
1     0    0    1    0      0
2     0    1    0    0      1
3     0    0    0    0      0
4     1    0    0    0      0